.accBody p input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    color: inherit;
    font: inherit;
    display: inline-block;
}