.icosnCopm .icosnCopmTop {
    background-color: var(--colf);
    padding: .7rem;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 350px;
}

.icosnCopm .icosnCopmItems {
    display: flex;
    gap: 4rem;
}

.icosnCopm .iconsToolsTools {
    margin: 2rem 0 4rem 0;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.icosnCopm .iconsToolsTools div {
    padding: 1rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.icosnCopm .iconsToolsTools div:hover {
    background-color: var(--colg);
}