*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--colj);
}

html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #00082e;
  background: radial-gradient(circle, rgba(0, 8, 46, 1) 0%, rgba(0, 0, 0, 1) 77%);
  color: #f8f8f8;
}