.popupComp .icosnCopmTop {
    background-color: var(--colf);
    padding: .7rem;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 350px;
}

.popupComp .popupCompSect {
    width: 600px;
    display: flex;
    gap: 4rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: inherit;
    background-color: rgb(42, 35, 102);
}

th,
td {
    padding: 8px 12px;
    border: 1px solid black;
}

thead th {
    background: black;
    text-align: left;
}

tbody tr:nth-child(even) {
    background: rgb(27, 33, 65);
}

code {
    background: black;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.9em;
}