.sidebar {
    width: 200px;
    min-height: 75vh;
    height: 100%;
    background-color: #0D1B2A;
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebar p {
    color: #EAEBEF;
    padding: 1rem;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}

.sidebar p:hover {
    background-color: #1B263B;
}